.seccion-grilla {
    width: 100%;
    display: flex;
    height: 200vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    
}

.cabecera , .navbar , .seccion , .seccion2 , .linea1 , .linea2 , .linea3 , .linea4 , .linea5 , .linea6 , .linea7 , .adm-plan, .linea8 , .linea9 , .linea10 , .pie ,.minombre{
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    
}

#check_menu, .navegacion , .navbar label{
    display: none;
    
}

.grid{
    display: grid;
    grid-template-columns: 250px 400px 400px 250px;
    grid-template-rows: 300px 40px 100px 150px 150px 150px 150px 150px 150px 150px ;
    row-gap: 7px;
    column-gap: 7px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    grid-template-areas: 
    
    " header header header header "
    "navbar navbar navbar navbar"
    "minombre minombre minombre minombre"
    "texto texto texto texto"
    "foto1 foto2 foto3 foto3"
    "foto1 foto4 foto4 foto5"
    "foto6 foto6 foto7 foto7"
    "foto8 foto9 foto10 foto11"
    "foto8 foto9 foto10 foto11"
   
   

     ;
}


.cabecera{
    background-image: url(../img/computer-2982270_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
                            
    
    grid-area: header ;
}
    
.navbar{
    display: flex;
    grid-area: navbar;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 16px;
    text-decoration: none; 

}
.navbar ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
   
   
   

    
    
}


    
    
   



.seccion{
    display: flex;
    background-color: rgb(255, 255, 255) ;  
    align-items: center;
    justify-content: center;
    grid-area: minombre; 
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.seccion2{
    display: flex;
    grid-area: texto;
    font-size: 'Rubik', sans-serif;
    align-content: center;
    
}

.myname{
    color: rgb(14, 31, 46);
}


.linea1{
    display: flex;
    grid-area: foto1;
    background-image: url(../img/programmer-1653351_640.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    color: rgb(0, 0, 0);
    border-radius: solid;
    font-size: 30px;
}

.linea2{
    display: flex;
    grid-area: foto2;
    background-image: url(../img/laptop-8305452_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    color: rgb(0, 0, 0);
    flex-wrap: wrap;
    align-content: start;
    justify-content: end;
    font-size: 30px;
}

.linea3{
    display: flex;
    grid-area: foto3;
    background-image: url(../img/laptop-1483974_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-size: 25px;
    justify-content: end;
}

.linea4{
    display: flex;
    grid-area: foto4;
    background-image: url(../img/imagen20.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    font-size: 30px;
    
}

.linea5{
    display: flex;
    grid-area: foto5;
    background-image: url(../img/laptop-1205256_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    justify-content: end;
    font-size: 30px;
}

.linea6{
    display: flex;
    grid-area: foto6;
    background-image: url(../img/imagen6.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    flex-wrap: nowrap;
    color: rgb(0, 0, 0);
    font-size: 30px;

}

.linea7{
    display: flex;
    grid-area: foto7;
    background-image: url(../img/business-2717063_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-size: 30px;
}




.linea8{
    display: flex;
    grid-area: foto8;
    background-image: url(../img/colores.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;

    color: rgb(0, 0, 0);
}

.linea9{
    display: flex;
    grid-area: foto9;
    background-image: url(../img/colores.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-size: 30px;

}

.linea10{
    display: flex;
    grid-area: foto10;
    background-color: blue;
    background-image: url(../img/colores.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-size: 30px;

}

.linea11{
    display: flex;
    grid-area: foto11;
    
    background-image: url(../img/colores.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: rgb(0, 0, 0);
    font-size: 20px;

}

.servi11{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 40px;
}

.pagina11{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size:25px;
}





@media (max-width:992px)
{

.grid{
    grid-template-areas: 
    
    "header header header header"
    "navbar navbar navbar navbar"
    "texto texto texto texto"
    "foto7 foto7 foto7 foto7"
    "foto2 foto2 foto2 foto2"
    "foto3 foto3 foto3 foto3"
    "foto4 foto4 foto4 foto4"
    "foto5 foto5 foto5 foto5"
    "foto6 foto6 foto6 foto6"
    "foto1 foto1 foto1 foto1"

     ;

}


}
@media( max-width: 440px){
    .navbar label{
        display: block;
        color: blueviolet;
        
    }

    .nave li{

        display: none;

    }
}
@media( max-width: 768px){
    

    .nav_item_grid:hover{
        background-color: blueviolet;
    }
    .navbar  #check_menu:checked~.nave   li {

        display: block;
        background: rgba(137, 43, 226, 0.784);
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
        
    
}
    