$temporada:"imagen17";

/*condicionales*/

@if ($temporada == "imagen17") {
    .header___container {
        background-image: url("../img/imagen17.jpg");
    background-position: bottom;
        
    }

}@else if ($temporada== "imagen10"){

    .header___container{
        background-image: url("../img/imagen10.jpg");

        
    }

}@else if ($temporada== "imagen20"){

    .header___container{
        background-image: url("../img/desk-593327_1280.jpg");
background-position: 0 bottom;
        
    }

}