@media screen {
    /*aqui van las reglas*/


     /*responsive navegador*/

    
  
    /*navegador de pagina mis servicios*/

    @media(max-width: 1542px){
        .footer2{
            position: relative;
            top: 850px;
        }
        .ultimotex{
            position: relative;
            top: -70px;
        }
        .text-content{
            margin-left: 10;
        }
    }
    
        @media(max-width: 1000px){
             
            .porfo-inicio, .porfolio_container{
            position: relative;
           
            width: 100%;
            padding: 1rem 4%;
            height: 40%;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);
            flex-wrap: wrap;      

         }
         .footer2{
            position: relative;
            top: - 10px;
        }

        .ultimotex{
            position: relative;
            top: -200px;
        }

        }
      
        @media(max-width:768px) {
            .navegacion label{
                display: block;
                color: blueviolet;
            }
    
            .navegacion__nav , label{
                display: none;
            }
    
            .servic1,.servic2{
                font-size: 40px;
                
            }
            .porfo,.portada{
                position: relative;
                left: 0; 
                width: 100%;
                height: 100%;
                right: 0;
                
            }
            .fondi-porfoli,.porfo,.porfolio_container{

                grid-template-columns: repeat(2,1);
             }

             .inicio_container{
                grid-template-columns: repeat(1,1);
             }
             
        }


        @media(max-width: 768px){
          
    
            .navegacion  #check_menu:checked ~ .navegacion__nav {

                
                display: block;
                background: rgba(137, 43, 226, 0.767);
                width: 100%;
                height: 100vh;
                position: absolute;
                left: 0;
                top: 60px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;

            }
            .ultimotex{
                position: relative;
                top: -150px;
            }


            .portada-sobremi{
                font-size: 50px;
            }
        }
       

        @media(max-width: 550px){              
            .porfolio_container, .porfo,.fondi-porfoli,.pag-inicio{
                grid-template-columns: repeat(1, 1fr);
            }

            .ultimotex{
                position: relative;
                bottom: 200px;
            }
            
            .footer-altura{
                position: relative;
                top: 50px;
            }
            
            .parrafo-inicio{
            position: relative;
            top: 0px;
             

            }
         .inicio_container {
            width: 100%;
            padding: 2rem 4%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(1,1 fr);
            flex-wrap: wrap;
           
         }
        }   

            
            

         @media( max-width: 440px){
                .navbar label{
                    display: block;
                    color: blueviolet;
                    
                }
        /*navegacion de mis servicios*/
                .nave,.navegacion__nav li{
        
                    display: none;
                }
                .navegacion  #check_menu:checked ~ .navegacion__nav {
        
                    display: block;
                    background: rgba(137, 43, 226, 0.767);
                    width: 100%;
                    height: 100vh;
                    position: absolute;
                    left: 0;
                    top: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                }     
                    /*titulo de pantalla de inicio*/
                .portada-ind{
                    font-size: 20px;
                    left: 0;
                   
                    
                }
                
               
        
        
                .galeria2,.galeria{
                    left: 0; width: 100%;
                    height: 100%;
                    right: 0;
        
                 
                
                }
                .porfo{
                    position: relative;
                    
                    left: 0; 
                    width: 100%;
                    height: 100%;
                    right: 0;
                    
                }
        
                .header__container{
                    left: 0;
                    width: 100%;
                   
                }
            }

            
         @media( max-width: 430px){

        .header__container{
            left: 0;
            width: 100%;
            font-size: 10px;
        }
         
         .porfolio_container, .portada, .galeria{
            grid-template-columns: repeat(1, 1fr);

        }    
    
        .servic1,.servic2{
            font-size: 40px;
            
        }
        .ultimotex{
            position: relative;
            top: -350px;
        }
        .inicio_container{
            display: grid;
            grid-template-columns: repeat(1,1 fr);
        }

        .ultimotex{
            position: relative;
            top: -200px;
        }
    }
}
